h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    color: #e345e3;
}

button::before{
    content: "Pasa por encima";
    clear: none;
}


button:hover{
    background-color: green;
    color: white;
}

.mensaje:hover-:after{
    content: "¡Hecho!";
    display: block;
    clear: both;
}